[defaults]
inventory = hosts.ini
host_key_checking = False
timeout = 30
gathering = smart
fact_caching = memory
retry_files_enabled = False
deprecation_warnings = False
callback_whitelist = profile_tasks
stdout_callback = yaml

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml